body{
margin: 0px;
padding: 0px;
background-color: #ffffff;
font-family: 'Roboto', sans-serif;
}

.nav__container{
 position: relative;
 display: flex;
 width: 100%;
 height: 100px;
 cursor: pointer;
}

.menu__nav{
 position: relative;
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 0px;
 padding: 0px;
 width: 100%;
 height:100px; 
 background-color: blueviolet;
}

.menu__list{
 display: flex;
 position: relative;
 list-style: none;

}

.menu__nav li{
 position: relative;
 padding:12px;
 /* overflow: hidden; */
 /* background-color: black; */
}

.menu__list a {
 color: #ffffff;
 padding: 20px;
 position: relative;
 text-decoration: none;
 font-size: 18px;
}

.menu__list a:hover{
background-color: white;
color: black;
}

/* .menu__list a::after{
 content: "";
 position: absolute;
 width: 100%;
 height: 3px;
 bottom:-5px;
 left:-130px;
 background-color: #ffffff;
 transition: .3s ease-in-out all;

} */

/* .menu__list a:hover::after{
 left:0;
} */

.menu__desplegable{
 display: none;
 position: absolute;
 left:10px;
 list-style: none;
}

.menu__list li:hover > .menu__desplegable{
 display: block;
 margin: 0;
 padding: 0;
 
}

.menu__list li:hover > .menu__desplegable a{
color: rgb(255, 255, 255);

}

.menu__list li > .menu__desplegable li:hover{
 background-color: rgb(255, 255, 255);
}

.menu__list li > .menu__desplegable a:hover{
 color: rgb(0, 0, 0);
}

.menu__list li:hover > .menu__desplegable{
 background-color:rgb(92, 0, 178); 
}


