@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;1,200;1,300;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

body{
 font-family: 'Karla', sans-serif;
 font-family: 'Roboto', sans-serif;
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* logo alura latam  */

.container{
    width: 100%;
    height: 100px;
    display: flex;
    position: relative;
}

.container__logo{
    display: flex;
    width: 100px;
    height: 100%;
    position: relative;
    padding: 10px 10px;
}

.container__logo .img{
    border-radius: 50%;
    box-shadow: 0px 0px 20px #5d5c5c;
    position: relative;

}

/* ------------------------------cuerpo del encriptador --------------*/

main{
display: flex;
width: 100%;
justify-content: space-evenly;
}

.sectio_1{
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box_texarea{
 width: 100%;
 height:100%;
 position: relative;
}

.texarea{
 position: relative;
 width: 100%;
 height:100%;
 border: none;
 resize: none;
 font-size: 25px;
 background-color:transparent;
 border-radius: 10px;
 color: #2575fc;
 font-family:'Karla', sans-serif ;
}

.texarea::placeholder{
 padding: 20px;
 color: #a7adb7;
}

.texarea:focus::placeholder{
 color: transparent;
}

.texarea:focus{
 border: none;
 outline: none;
}


/* caja alert ---*/

.box_alerta{
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: flex-start;
}

.box_alerta span{
 color: rgb(104, 103, 103);

}

.icono_alert{
 font-size: 20px;
 color: rgb(104, 103, 103);
 padding:10px;
}

/* caja botones ---*/
.box_btn{
width: 100%;
display: flex;
justify-content: fl;
}

.box_btn .btn_encriptar{
 width: 250px;
 cursor: pointer;
 margin: 5px;
 height: 70px;
 outline: none;
 border: none;
 border-radius: 30px;
 background-color: #093785;
 color: #ffffff;
 font-size: 18px;
 transition:color .7s ease-in-out ;
}

.box_btn .btn_encriptar:hover{
 background-color: #2575fc;
}

.box_btn .btn_desencriptar{
 width: 250px;
 cursor: pointer;
 margin: 5px;
 height: 70px;
 border: none;
 border-radius: 30px;
 background-color: transparent;
 border: solid #a9a7a7 3px;
 color: #383737;
 font-size: 18px;
 transition: color .4s ease-in-out ;
}

.box_btn .btn_desencriptar:hover{
 background-color: #626060;
 color: #ffffff;

}

.ocultar {
    display: none;
} 

/*-------------------------------- banner lateral -------------------*/
.banner_lateral{
 width:90%;
 margin: 0;
 display: flex;
 align-items: center;
 flex-direction: column;
 box-sizing: border-box;
 position: relative;

}

.content__banner{
 width:90% ;
 height: 600px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: flex-start;
 background-color: #ffffff;
 padding: 10px 30px 10px 30px;
 border-radius: 20px;
 outline: solid 4px #ffffff;
 box-shadow:  -5px -5px 10px grey,
               inset -2px -2px 10px 0px grey
               ;
}

.box_banner-img{
 box-shadow: solid grey ;
 display: flex;
 width: 100%;
}

.box_img{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buscar-img{
 /* display:flex; */
 width: 100%;
 object-fit: cover;
 height: 300px;
 border-radius:10px;
}


.box_mensaje{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-left: 0;
}

.box_mensaje h3{
    display: flex;
    width: 100%;
    font-size: 15px;
    color: #5d5c5c;
    position: relative;
}

.box_mensaje_text{
 position: relative;
 color: #87888a;
 line-height: 22px;
 width: 100%;
 overflow: scroll;
 overflow-x: visible;
 font-weight: 300;
 font-size: 18px;
}
/* 
.ocultartext{
    display: flex; 
    width: 100%;
    height: 400px;
} */

.box__btn-copiar{
position: relative;
width: 100%;
display: flex;
justify-content: center;
}

.box__btn-copiar input{
 border: none;
 background-color: #2575fc;
 color: #ffffff;
 border-radius: 30px;
 width: 100%;
 height: 60px;
 cursor: pointer;
 margin: 20px 0px;
 font-size: 18px;
 transition:background-color .3s ease-in-out;
}

.box__btn-copiar input:hover{
 background-color: #093785;
 color: #ffffff;
}

/* tex area desencriptar */
.text__desencriptar{
    background-color: transparent;
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 50px;
}
    
.text__desencriptar::placeholder{
color: #2575fc;
font-family: 'Karla', sans-serif;
padding: 10px;
font-weight: 500;
}
    
.text__desencriptar:focus{
border: none;
outline: none;
}
    
.text__desencriptar:focus::placeholder{
color: transparent;
}


@media screen and (max-width:870px){
    
    .container{
        width: 90%;
    }
    
    .container__logo .img{
        border-radius: 50%;
        width: 50px;
        height:50px;
        box-shadow: 0px 0px 20px #5d5c5c;
        position: relative;
    }
    
    
    
    main{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }

    .sectio_1{
        display: flex;
        width: 90%;
        height: 90%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sectio_2{
        height: 90%;
        width: 90%;
        margin-top:40px;
    }

    .box_btn{
        width: 100%;
        display: flex;
        /* flex-wrap: wrap; */
        justify-content: space-between;
    }
}

@media screen and (max-width:320px){
    main{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }

    .sectio_2{
        height: 90%;
        width: 90%;
        margin-top:40px;
    }

    .box_btn{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}