@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;1,200;1,300;1,400&family=Open+Sans:wght@300;400;500;600;700&display=swap');


/*--------- variables,colores y letra ----------*/
:root{
    --color0:#000000;
    --color1:#159a51;
    --color2:#29b015;
    --color3:#ffffff;
    --color4:#16b182;
    --letra:'Karla', sans-serif;
 
}


body{
    background-color: var(--color3);  
    color: var(--color0);
    box-sizing: border-box;
    font-family: var(--letra);
    margin: 0;
    padding: 0;
}

.nav{
    display: flex;
    justify-content: space-around;
    background-color: var(--color1);
    margin: 0;
    position: relative;
    padding:1.2rem;
}

.nav__img{
    width: 70px;
    height: 70px;
    display: inline-flex;
    position: absolute;
    left: 10px;
    top: 10px;
}

.nav__img .img{
    border-radius: 50%;
    box-shadow: 0px 0px 10px 0px #ffffff;
}

.nav__list{
    list-style: none;
    display:flex;
}

.nav__list .nav__list__li{
    display: block;
    margin: 0px 30px 0px 0px;
    padding: 0px 10px 5px 30px;
    position: relative;
    overflow: hidden;
}

.nav .nav__list__li a{
    color: var(--color3);
    text-decoration: none;
    font-size: 1.2rem;
}

.nav .nav__list__li a::after{
    content: "";
    position: absolute;
    width: 100%;
    background-color: var(--color3);
    height: 3px;
    left:-130px;
    bottom:0;
    transition: .3s ease-in-out all;
}

.nav .nav__list__li a:hover::after{
 left: 0;
}

.nav .nav__list__btn{
    position: absolute;
    right:30px;
}

.nav .nav__list__btn a{
    background-color: var(--color4);
    color: var(--color3);
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 50px;
    transition: .4s ease-in-out all;
}

.nav .nav__list__btn a:hover{
    background-color: var(--color3);
    color: var(--color0);
}

.main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: var(--color4);
    width: 100%;
    margin-top: 10px;
    height: 400px;
}

.main__box{
    background-color: var(--color3);
    border-radius:0.5rem;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 0px 10px 0px #b3b1b1;
}

.main__box .main__text{
    color: var(--color2);
    font-size: 1.1rem;
    text-align: start;
}

.main .card2{
    background-color: var(--color4);
    box-shadow: 0px 0px 10px 0px #ffffff;
}

.main .card2 .main__text{
    color: var(--color3);
}
