@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

body{
display: flex;
justify-content: center;
font-family: 'Roboto', sans-serif;
/* background-image: url(../wallpaper.jpg);
background-repeat: no-repeat;
background-size: cover; */
background-color: rgb(217, 217, 217);
}

/* caja principal contenedora */
.box{
 width: 900px;
 background-color: rgba(255, 255, 255, 0.8);
 border-radius: 20px;
 padding: 40px;

}

/* estilos del fomulario --------------------- */
.formulario{
 width:100%;
 height: 100vh;
 display: grid;
 grid-template-columns: 1fr 1fr;
 gap: 40px;
}

/* estilos de los labels -----------------------*/
.formulario_label{
 font-weight: 700;
 cursor: pointer;
 display: block;
 padding: 10px;
}

/* estilos de los inputs ---------------------- */
.formulario_grupo-input{
 position: relative;
}

.formulario-input{
 width: 90%;
 background: rgb(255, 255, 255);
 border-radius: 7px;
 border: 3px solid transparent;
 height: 45px;
 line-height:45px;
 padding: 0 40px 0 10px;
 transition: .3s ease all;
}

.formulario-input:focus{
 outline: none;
 border: rgb(54, 107, 238) solid 3px;
 box-shadow:3px 0px 30px rgb(236, 236, 236) ;
}

/* estilo de los errores -------------------------- */
.formulario_input-error{
 font-size: 12px;
 margin-bottom: 0;
 display: none;
}

.formulario_input-error-activo{
 display: block; 
}

/* check estados de validacion ----------------------------*/
.formulario__validacion--estado{
 position: absolute;
 right: 10px;
 bottom: 15px;
 font-size: 16px;
 opacity: 0;
 z-index: 100;
}

/* estilos de terminos y condiciones ------------------*/
.formulario_checkbox{
 width: 15px;
 height: 15px;
 margin-right:10px ;
}

.formulario_grupo-terminos,
.formulario_mensaje,
.formulario_grupo-btn-enviar{
grid-column: span 2;
}

/* estilos mensaje error/formulario imcompleto -------------*/
.formulario_mensaje{
 height: 45px;
 line-height: 45px;
 padding: 0 15px;
 border-radius: 5px;
 background: rgb(251, 105, 105);
 display: none;
}

.formulario_mensaje-activo{
 display: block;
}

.formulario_mensaje p{
 margin: 0;
}

/* estilos del boton y mensaje ----------------------------*/

.formulario_btn{
 border: none;
 height: 45px;
 width:30%;
 cursor: pointer;
 background-color: rgb(255, 255, 255);
 color: rgb(0, 0, 0);
 font-weight: bold;
 border-radius: 5px;
 position: relative;
 overflow: hidden;
 transition: .3s ease-in-out all;
}

.formulario_btn span{
 background-color: #ff4d3d;
 z-index: 10;
}

.formulario_btn::after{
 content: "";
 position: absolute;
 width: 100%;
 height: 100%;
 background-color: #ff4d3d;
 left:-300px;
 top: 0;
 z-index: 20;
 transition: .3s ease-in-out all;
}

.formulario_btn:hover::after{
 left: 0;

}

.formulario_grupo-btn-enviar{
 display:flex;
 flex-direction: column;
 align-items: center;
}

/* texto enviado ----------------- */
.formulario_grupo-enviado{
 display:none;
}

.formulario_grupo-enviado-activo{
 display: block;
}

.formulario_grupo-enviado{
 color: rgb(5, 164, 5);
 font-size: 15px;
}

.formulario_btn:hover{
 box-shadow: 3px 0px 30px 0px rgb(255, 250, 250);
}

/* estados de validacion correcto-------------------------------- */
.formulario_grupo-correcto .formulario__validacion--estado{
 color: rgb(27, 210, 27);
 /* opacity: 1; */
}

/* estados de validacion incorrecto ------------------------------ */

.formulario_grupo-incorrecto .formulario_label{
 color: rgb(223, 35, 35);
}

.formulario_grupo-incorrecto .formulario__validacion--estado{
 color: rgb(223, 35, 35);
 opacity: 1;
}

.formulario_grupo-incorrecto .formulario-input{
 border:rgb(223, 35, 35) solid 3px ;
 border-radius: 5px;
}

/* media querys -------------------------------------------*/

@media screen and (max-width: 800px){
    .formulario{
     grid-template-columns: 1fr;

    }

    .formulario_grupo-terminos,
    .formulario_mensaje,
    .formulario_grupo-btn-enviar{
     grid-column: 1;
    }

    .formulario_btn{
     width: 100%;
    }
}