@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;1,200;1,300;1,400&family=Open+Sans:wght@300;400;500;600;700&display=swap');

body{
 margin: 0;
 padding: 0;
 display: flex;
 align-items: center;
 justify-content: center;
 font-family: 'Karla', sans-serif;
 font-family: 'Open Sans', sans-serif;
 background-color: #c3c1c1;
}

.main{
 /* background: #bab9b9; */
 max-width: 1000px;
 width: 90%;
}

.contenedor{
 display: grid;
 gap: 20px;
 grid-template-columns: repeat(3,auto);
 grid-template-rows: repeat(4,auto);
 grid-template-areas: 
 "navbar    navbar    navbar"
 "contenido contenido asidebar"
 "widget-1  widget-2  asidebar"
 "footer    footer    footer" ;
}

.navbar{
 background-color: #2d5ae2;
 border-radius: 10px;
 color: #ffffff;
 display: flex;
 align-items: center;
 justify-content: center;
 /* grid-column: span 3; */
 grid-area: navbar;
}

.contenido{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 padding: 20px;
 height: 600px;
 background-color: #ffffff;
 border-radius: 10px;
 /* grid-column: span 2; */
 /* position: relative; */
 grid-area: contenido;
}


.asidebar{
 background-color: #e2932d;
 border-radius: 10px;
 color: #ffffff;
 /* grid-row: span 2; */
 display: flex;
 align-items: center;
 justify-content: center;
 grid-area: asidebar;
}

.contenedor .widget-1,
.contenedor .widget-2{
 display: flex;
 height: 100px;
 align-items: center;
 justify-content: center;
 background-color: #1b7cde;
 border-radius: 10px;
 color: #ffffff;
 /* grid-column: span 1; */
 /* grid-area: widget-1; */
}

.footer{
 background-color: #1a0d66;
 color: #ffffff;
 border-radius: 10px;
 /* grid-column: span 3; */
 display: flex;
 align-items: center;
 justify-content: center;
 grid-area: footer;
}


@media screen and (max-width:790px){
  
    body{
    background-color: #7b68e8;

    }
/* 
    .contenido{
    grid-column: span 3;
    }

    .asidebar{
    grid-column: span 3;
    
    } */
/* 
.contenedor .widget-1,
.contenedor .widget-2{
 grid-column: span 1;
} */
    .contenedor{
        grid-template-areas: 
        "navbar    navbar    navbar"
        "contenido contenido contenido"
        "asidebar  asidebar  asidebar"
        "widget-1  widget-2  widget-2"
        "footer    footer    footer" ;
    }

    .asidebar{
    height: 9rem;

    }
}