@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;1,200;1,300;1,400&family=Open+Sans:wght@300;400;500;600;700&display=swap');

:root{
    --color0:#119ae4;
    --color1:#115be4;
    --color2:#20dada;
    --color3:#11e4af;
    --color4:#4d11e4;
    --letra1:'Karla', sans-serif;
    --letra2:'Dosis', sans-serif;
}

body{
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* nav --------------------------- */
.header{
    width: 100%;
    margin: 0;
    padding: 0;
}   

.nav{
    background-color: var(--color4);
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items:center;
}

.nav .nav__list{
    margin: 0;
    padding: 10px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.nav__list .list__li{
    display: block;
}

.nav__list a{
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    font-family: var(--letra1);
    padding: 30px;
}

.nav__list a:hover{
    background-color: var(--color2);
    color: var(--color4);
}


/* seccion de la galeria colombia */
.colombia{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* titulo de la galeria */
.colombia .galeria__titulo{
    width: 100%;
    height: 100px;
}

.colombia .galeria__titulo .titulo{
    color: #000000;
    font-family: var(--letra1);
    position: absolute;
    left: 50%;
    font-size: 40px;
    font-weight: 200;
    transform: translate(-50%);
}

/* contenedor de galeria colombia */
.colombia .galeria__box__colombia{
    display: grid;
    cursor: pointer;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 10px;
    grid-template-areas: 
    "img-1 img-1 img-2 img-3"
    "img-1 img-1 img-4 img-5";
    margin-left:0px;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    position: relative;
    height: 100%;
}

/* estilo de imagenes */
.galeria__box__colombia .img{
    width: 100%;
    height: 100%;
    border-radius: 7px;
    transition: .3s ease all;
    z-index: 5;
    object-fit: cover;
}

.galeria__box__colombia{
    overflow: hidden;
}

.galeria__box__colombia .galeria__img{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.galeria__box__colombia .galeria__img::after{
    content: "Colombia";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    color: #ffffff;
    font-family: var(--letra1);
    transform: scale(0);
    background-color: #2b2a2a82;
    width:100%;
    height:100%;
    border-radius:150%;
    transition: .3s ease all;

}

.galeria__box__colombia .galeria__img:hover::after{
    transform: scale(1);
    border-radius: 0;
}

/* posicionamiento con grid area */
.galeria__box__colombia .img-1{
    grid-column: img-1;
    grid-row: img-1;
}

.galeria__box__colombia .img-2{
    grid-column: img-2;

}
.galeria__box__colombia .img-3{
    grid-column: img-3;

}
.galeria__box__colombia .img-4{
    grid-column: img-4;
}

.galeria__box__colombia .img-5{
    grid-column: img-5;
}

/* galeria mexico */

.mexico{
    margin-top: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    padding: 20px;
    margin-bottom: 100px;
    box-sizing: border-box;

}

/* contenedor de la galeria */
.galeria__box__mexico{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
}

/* titulo de la galeria */
.mexico .galeria__titulo{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}

.mexico .titulo{
    color: #000000;
    font-family: var(--letra1);
    font-size: 40px;
    font-weight: 200;
}

/* estilos de imagenes */
.galeria__box__mexico .galeria__img{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
}

.galeria__box__mexico .img{
    width: 100%;
    height:100% ;
    border-radius: 10px;
    object-fit: cover;
}

/* leyenda de imagenes  */
.galeria__box__mexico .galeria__img{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.galeria__box__mexico .galeria__img::after{
    content: "Mexico";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left:-1130px;
    bottom: 0;
    color: #ffffff;
    font-family: var(--letra1);
   
    background-color: #2b2a2a82;
    width:100%;
    height:100%;
    transition: .3s ease all;

}

.galeria__box__mexico .galeria__img:hover::after{
    left: 0;

}

/* corea del sur  */
.corea{
    position: relative;
    margin-top: 100px;
    width: 100%;
    height: 600px;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    flex-direction: column;
}

/* titulo de la galeria */
.corea .cards__titulo{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}

.corea .titulo{
    color: #000000;
    font-family: var(--letra1);
    font-size: 40px;
    font-weight: 200;
}

/* contenedor de la galeria  */
.corea .box__cards__corea{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:30px;
}

/* estilos de las imagenes  */
.box__cards__corea .cards__img{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
}

.box__cards__corea .img{
    width: 100%;
    height:100% ;
    border-radius: 10px;
    object-fit: cover;
}

/* leyenda de imagenes  */
.box__cards__corea .cards__img{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
}


.box__cards__corea .cards__img::after{
    content: "Corea del Sur";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left:0;
    bottom:0;
    color: #ffffff;
    font-family: var(--letra1);
    background-color: #2b2a2a82;
    width:100%;
    height:100%;
    transition: .3s ease all;

}

.box__cards__corea .cards__img:hover::after{
    bottom: -500px;
}
/* eruopa -------------------- */
.europa{
    position: relative;
    margin-top: 100px;
    width: 100%;
    height: 600px;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 90px;
    flex-direction: column;
}

/* titulo de la galeria */
.europa .cards__titulo{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}

.europa .titulo{
    color: #000000;
    font-family: var(--letra1);
    font-size: 40px;
    font-weight: 200;
}

/* contenedor de la galeria  */
.europa .cards__europa{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,250px);
    grid-template-areas: 
    "img1 img1 img2 img2"
    "img1 img1 img3 img3";
    gap:10px;
}

/* areas de las cards */
.cards__europa .img1{
    grid-column: img1;
    grid-row: img1;
}

.cards__europa .img2{
    grid-column: img2;
}

.cards__europa .img3{
    grid-column: img3;
}

/* estilos de las imagenes  */
.cards__europa .cards__img{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
}

.cards__europa .img{
    width:100%;
    height:100% ;
    border-radius: 10px;
    object-fit: cover;
}

/* leyenda de imagenes  */
.cards__europa .cards__img{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
}


.cards__europa .cards__img::after{
    content: "Europa";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left:0;
    bottom:0;
    color: #ffffff;
    font-family: var(--letra1);
    background-color: #2b2a2a82;
    width:100%;
    height:100%;
    transform: scaleY(0);
    transition: .3s ease all;

}

.cards__europa .cards__img:hover::after{
    transform: scaley(1);
}

/* flores -------------------------------------------*/
.flores{
    position: relative;
    margin-top: 100px;
    width: 100%;
    height: 700px;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 90px;
    flex-direction: column;
}

/* titulos --------------------------------------------*/
.flores .cards__titulo{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}

.flores .titulo{
    color: #000000;
    font-family: var(--letra1);
    font-size: 40px;
    font-weight: 200;
}

/* contenedor de la galeria  */
.box__cards__flores{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns:repeat(6,1fr);
    grid-auto-rows:repeat(5,210px);
    gap:.5rem;
}

/* estilo de las imgenes  */
.box__cards__flores .cards__img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    transform: scale(1);
    transition: .4s ease all;
}

.box__cards__flores .cards__img .img{
    width:100%;
    height:100% ;
    border-radius: 10px;
    object-fit: cover;
    z-index: 1;
    transition: .4s ease all;
}

.box__cards__flores .cards__img:hover{
    z-index: 2;
    border-radius: 0;
    transform: scale(1.2);
    box-sizing: border-box;
}


/* media querys ------------------------------------- */

@media (max-width:800px){

    body{
        background-color: #000000;
    }
    /* colombia */
    .colombia .galeria__titulo .titulo{
        color: #ffffff;
        font-family: var(--letra2);
        font-size: 23px;
        font-weight: 200;
    }
    
    .colombia .galeria__box__colombia{
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 300px;
        grid-template-areas: 
        "img-1 img-2"
        "img-3 img-4"
        "img-5 img-5";
    
    }

    /* mexico  */
    .mexico .galeria__titulo .titulo{
        color: #ffffff;
        font-family: var(--letra2);
        font-size: 23px;
        font-weight: 200;
    }

    .galeria__box__mexico{
        grid-template-columns:1fr 1fr;
    }

    /* corea  */

    .corea .box__cards__corea{
        grid-template-columns: 1fr;

    }

    .corea .cards__titulo .titulo{
        font-size: 23px;
        color: #ffffff;
    }

    .europa .cards__titulo .titulo{
        font-size: 23px;
        color: #ffffff;

    }

    .europa .cards__europa{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3,1fr);
        grid-template-areas: 
        "img1 img1"
        "img2 img2"
        "img3 img3";
    }

    .flores .cards__titulo .titulo{
        font-size: 23px;

    }

}